@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    margin: 0px;
    padding: 0px;
    background-color: #F1F1F1;
    color: #323232;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header, .footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

h1{
    font-size: 36px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 70px;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.part{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button{
    width: 70px;
    height: 70px;
    opacity: 0.7;
    border-radius: 8px;
    background-color: #d9d9d9;
}

button:hover{
    opacity: 1;
    background-color: #e7e7e7;
    transition-duration: 70ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

button.active:hover{
    opacity: 1;
    background-color: #d9d9d9;
}

.container{
    display: grid;
    gap: 20px;
    grid-template-columns: 36px 36px 36px;
    grid-template-rows: 36px 16px 24px;
}

.color{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    background-color: #000000;
}

.color:hover{
    cursor: crosshair;
}

.left-side{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.grid{
    width: 610px;
    height: 610px;
    margin: 0px 40px 0px  40px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
}

.right-side{
    margin-top: 50px;
}

.color-picker{
    display: flex;
    gap: 12px;
}

#color-input{
    width: 100px;
    height: 48px;
    border: none;
    padding: 0px;
    margin: 0px;
}

#color-input::-webkit-color-swatch{
    border-radius: 8px;
    border: none;
    padding: 0px;
    margin: 0px;
}
#color-input::-moz-color-swatch{
    border-radius: 8px;
    border: none;
    padding: 0px;
    margin: 0px;
}


#pick{
    width: 46px;
    height: 46px;
}

.slider {
    width: 96%;
    height: 8px;
    border-radius: 8px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin-bottom: 8px;
}
.slider:hover{
    cursor: pointer;
}

.inline{
    display: flex;
    flex-direction: row;
}
#size{
    text-align: center;
    margin-bottom: 12px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.pixel{
    background-color: #8b2626;
    color: #000000;
}

.active{
    border: 2px solid #505050;
    opacity: 1;
}
.inactive{
    opacity: 0.2;
}

*{
    border: 0px solid coral;
}